[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
folium = "*"
jupyter = "*"
pandas = "*"
Shapely = "*"
bf9230d050c1d5d3d1ba3dc5c88609220008f7cb = {git = "https://github.com/nikitakit/xdbg"}

[requires]
python_version = "3.7"
